body {
    /* background-color: black; */
    font-family: 'Josefin Sans', sans-serif;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    /* margin-right: -50%; */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
    height: fit-content;
    flex-shrink: 0.5;
    /* max-height: 400px; */
}

.content {
    background: url(images/bg-pattern-desktop.svg);
    /* max-height: 400px; */
    width: 50%;
    /* min-width: 400px; */
    /* min-height: 620px; */
}

.text {
    padding: 5rem;
}

.mobileImg, .mobileLogo {
    display: none;
}

.image {
    width: 50%;
    height: fit-content;
    flex-grow: 1;
    flex-shrink: 1;
    
}

.desktopImg {
    width: 100%;
    height: fit-content;
    /* min-height: 620px;
    min-width: 472px; */
}

.desktopLogo {
    padding: 2rem 0 0 5rem;
    height: 5%;
}

.header {
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 1rem;
    color: hsl(0, 6%, 24%);
}

span {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

.body {
    color: hsl(0, 36%, 70%);
    line-height: 1.5rem;
    font-size: 12px;
    width: 90%;
    margin-bottom: 2rem;
}

form {
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;
    
    /* This bit draws the box around it */
    border:1px solid hsl(0, 6%, 24%);
    border-radius:10%/100%;
  
    /* I've used padding so you can see the edges of the elements. */
    padding:2px;
    width: 85%;
  }
  
  input {
    /* Tell the input to use all the available space */
    flex-grow:2;
    /* And hide the input's outline, so the form looks like the outline */
    border: none;
    background: none;
    padding: 0.75rem;
  }
  
  input:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
  }
  
  button {
    /* Just a little styling to make it pretty */
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    color:white;
    width: 3rem;
    margin: 0;
    border-radius: 80%/100%;
    padding: 0;
    border: 0;
    min-width: 30px;
  }

  button:hover {
      cursor: pointer;
      background: linear-gradient(135deg, hsl(0, 74%, 80%), hsl(0, 100%, 98%));
  }

  ::placeholder {
      color: hsl(0, 36%, 70%);
  }

  .errorIcon {
      height: fit-content;
      width: fit-content;
      padding-right: 1rem;
      padding-top: 0.5rem;
      display: none;
  }

  .errorMsg {
      color: hsl(0, 93%, 68%);
      font-size: 12px;
      margin-left: 0.85rem;
      margin-top: 0.5rem;
      display: none;
  }

  @media (max-width: 1000px) {
      .card {
          flex-direction: column;
          position: absolute;
          top: 50%;
          left: 50%;
          /* margin-right: -50%; */
          transform: translate(-50%, -50%);
          min-width: none;
          width: 75%;
      }
      .desktopImg, .desktopLogo {
          display: none;
      }
      .image {
          width: 100%;
      }
      .mobileImg {
          display: flex;
          width: 100%;
      }
      .mobileLogo {
          display: flex;
          height: 1.5rem;
          padding: 5rem 2rem 2rem 2rem;
          flex-shrink: 1.5;
      }
      .content {
          display: flex;
          width: 100%;
          justify-content: center;
          flex-shrink: 10;
          /* min-width: none; */
      }
      .text {
          padding: 0;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          min-width: none;
          width: 80%;
      }
      .header {
          letter-spacing: 0.5rem;
          font-size: 150%;
      }
      .body {
          padding-top: 0;
      }
      form {
          min-width: none;
          width: 100%;
      }
  }